html, body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	overflow: auto;
	background-color: rgb(18, 67, 158);
	font-family: 'Raleway', sans-serif;
}

.istruzione, .esperienze, header  {
	padding: 4% 4% 0 4%;
	margin: 0;
}

.istruzione {
	padding: 0 4% 0 4%;
}

h1 {
	font-size: 8vw;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Playfair Display', serif;
}

h2 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
}

h3, h4 {
	font-weight: bold;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1rem;
}


ul {
	list-style-type: none;
	padding-left: 0;
}

p {
	margin-block-start: 0.5em;
	width: fit-content;
}

.contacts {
	padding: 0 10%;
}

.competenze, .lingue {
	padding: 0 10%;
}

.scuola {
	display: flex;
}

.scuola > * {
	margin: 0 0 10px;
}

div.sinistra {
	color: white;
	margin: 0;
	width: 35vw;
}

div.sinistra > * {
	margin-top: 15%;
	padding-left: 10px;
}

div.destra {
	background-color: white;
	width: fit-content;
	width: 65vw;
	padding-left: 10px;
}

.sinistra a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: rgb(155, 235, 255);
}

div.container {
	padding: 0;
	margin: 0;
	display: flex;
	float: right;
}

@media only screen and (max-width: 414px) {
	.istruzione, .esperienze, header  {
		padding: 4% 0;
	}
	.istruzione {
		padding: 0;
	}
	.esperienza a {
		font-size: 3.3vw;
	}
	li.scuola {
		display: block;
	}
	h3 {
		font-size: 5vw;
	}
	.sinistra p {
		font-size: 4vw;
	}

}  
